<div class="container">
  <div class="card">
    <div class="card-header">
      Add Todo
    </div>
    <div class="card-body">
          <input name="title" type="text" class="form-control" placeholder="title" [(ngModel)]="todo.title" required>
          <input name="description" type="text" class="form-control" placeholder="description" [(ngModel)]="todo.description" required>
          <input name="duedate" type="date" class="form-control" [(ngModel)]="todo.duedate" required>
          <button class="btn btn-primary" style="float: right;" (click)="addTodo()">add todo</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Todos
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Due Date</th>
            <th>Description</th>
            <th>Is Done</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of todos">
            <td >{{t.id}}</td>
            <td>{{t.title}}</td>
            <td>{{t.dueDate}}</td>
            <td>{{t.description}}</td>
            <td><div class="form-check">
                <input type="checkbox" class="form-check-input" name="" id="" [(ngModel)]="t.isDone">
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>